.sidebar {
  flex-grow: 1;
  padding-top: 20px;
  width: 200px;
}

.side-list {
  margin-top: 30px;
}

.sidebar ul li {
  padding: 25px 20px;
  position: relative;
  z-index: 1;
}

.sidebar ul li:before {
  content: "";
  left: 20;
  bottom: 0;
  height: 1px;
  width: 60%;
  position: absolute;
  border-bottom: solid 0.5px var(--green);
}

.sidebar ul li a {
  color: var(--green);
  font-size: 20px;
}

.sidebar ul li a.active {
  color: #fff;
  border-left: 5px solid var(--green);
  padding-left: 10px;
}

.sidebar ul li a:hover {
  color: #fff;
  font-size: 22px;
  transform: translateX(10px);
  transition: all 0.3s ease-in-out;
}
